
    <table class="table table-striped">
       <!--- START SESSION DISPLAY--->
        <tr>
            <td colspan="2" bgcolor="#6495ed">SESSION VARIABLES</td>
        </tr>
        <cfloop item="s" collection="#SESSION#">
        <cfoutput>
        <tr>
            <td height="25">#s#</td>
            <td>#SESSION[s]#</td>
        </tr>
        </cfoutput>
        </cfloop>
    </table>
