
    <table class="table table-striped">
       <!--- START CGI DISPLAY--->
        <tr>
            <td colspan="2" bgcolor="#6495ed">CGI VARIABLES</td>
        </tr>
        <cfloop item="c" collection="#CGI#">
        <cfoutput>
        <tr>
            <td height="25" width="300">#c#</td>
            <td>#CGI[c]#</td>
        </tr>
        </cfoutput>
        </cfloop>
         <tr>
            <td colspan="2" height="30">&nbsp;</td>
        </tr>
    </table>
