
/* Preloader */

#preloader {
    position:fixed;
    color:black;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:45%; /* centers the loading animation horizontally one the screen */
    top:45%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/preload.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}